$white:#fff;
$black:#333;
$red:#E55039;
$gray:#666;
$light_gray:#999;
$light:#f1f1f1;

$brand_color:#23C0F1;
$brand_2_color:#2ED573;
$text:#146080;

$border-radius:3px;
$circle:160px;

$label_text:#9FC0D9;
$border:#f1f1f1;

$brand_light:#f1f1f1;